// Template Colors

$color__white:      #ffffff;    // White Color

$color__black:      #000000;    // Black Color

$color__green:      #306D6D;    // Green Color

$color__dark__green:#2D6E6D;    // Dark Green Color

$color__olive:      #CFD852;    // Olive Color

$color__violet:     #653084;    // Violet Color