// Gotham Font
$font_gotham: 'Gotham Book';
$font_gotham-light: 'Gotham Light';
$font_gotham-bold: 'Gotham Bold';
$font_gotham-black: 'Gotham Black';
$font_gotham-medium: 'Gotham Medium';
$font_gotham-thin: 'Gotham Thin';

// GE Dinnar Font
$font_dinar-light: 'GE Dinar Light';
$font_dinar-medium: 'GE Dinar Medium';
$font_dinar-bold: 'GE Dinar Bold';

// Vodafone Font
$font_vodafone-bold: 'Vodafone Bold';
$font_vodafone-regular: 'Vodafone Regular';

// Crimson Font
$font_crimson: 'Crimson Foam';

// Arslan Wessam Font
$font_arslan: 'Arslan Wessam';

